.root {
  display: grid;
  grid-template-areas: "logo" "." "create-room" "." "help";
  grid-template-rows: auto  32px auto 64px auto;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: linear-gradient(256deg, rgba(201,30,73,1) 0%, rgba(247,109,71,1) 100%);
}

.logo {
  grid-area: logo;
  color: white;
  font-family: Playfair;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
}

.create-room {
  grid-area: create-room;
}

.help {
  grid-area: help;
  color: white;
  font-family: Rubik;
}

.help > p {
  margin: 1em 0;
}
